.SidebarContainer {
  width: 20%;
  min-width: 250px;
  background-color: #fff;
  height: 100%;
  position: fixed;

  .Sidebar {
    line-height: 24px;

    h2 {
      text-align: center;
      font-weight: bold;
      line-height: 32px;
      margin: 32px 0 64px 0;
    }
  }
}
