.ListItemContainer {
  color: rgba(0,0,0,.5);

  :hover {
    color: black;
  }

  .ListItem {
    display: flex;
    flex-wrap: wrap;
    margin: 32px 0 6px 0;
    padding-left: 32px;
    user-select: none;
    cursor: pointer;

    .ItemText {
      margin-left: 12px;

      li {
        list-style: none;
        text-decoration: none;
      }
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
  .active {
    .ListItemContainer {
      color: black !important;
    }
  }
}
