.Footer {
  width: 100%;
  background-color: #f2f4fa;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin: auto;

  ul {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;

    li {
      margin: 12px 12px;
    }
  }
}
